<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Centre Dental Francesc Macià</h1>
                    <p class="lead">Financiación a medida: Hasta 24 meses sin intereses, para más información puede contáctarnos a través del
                    <a href="contact.html#contact">formulario contacto</a> o bien escribenos al correo eléctronico:
                    <a href="mailto:info@centredentalfrancescmacia.com">info@centredentalfrancescmacia.com</a>.</p>
                </div>
            </div>
        </div><!--/.item-->

        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Centre Dental Francesc Macià</h1>
                    <p class="lead">Implantes dentales</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
