<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2016
        <a target="_blank" href="http://www.centredentalfrancescmacia.com/" title="Centre Dental Francesc Macià">Centre
          Dental Francesc Macià</a>.
      </div>

      <div class="col-sm-6">
        <div class="pull-right">
          <a href="#"><i class="icon-facebook icon-social"></i></a>
          <a href="#"><i class="icon-google-plus icon-social"></i></a>
          <a href="#"><i class="icon-pinterest icon-social"></i></a>
          <a href="#"><i class="icon-linkedin icon-social"></i></a>
          <a href="#"><i class="icon-twitter icon-social"></i></a>
          <a href="#"><i class="icon-youtube icon-social"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer><!--/#footer-->
