<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016 <a target="_blank" href="http://www.centredentalfrancescmacia.com/" title="Centre Dental Francesc Macià">Centre Dental Francesc Macià</a>. 
            </div>
        </div>
    </div>
</footer><!--/#footer-->
