---
title: Centre Dental Francesc Macià
menu: /layouts/menu.erb
---

<section id="business">
  <div class="container">
    <div class="box">
      <div class="center gap">
        <h2><%= t('.menus.clinica') %></h2>
        <p class="lead">
          El Centre Dental Francesc Macià coordinado por la Dra. Cristina Carrasco cuenta con un equipo profesional
          altamente capacitado para tratar las afecciones bucales de toda la familia. Especializado en ortodoncia
          infantil y de adultos, nuestro objetivo es realizar un tratamiento integral con el mejor trato profesional en
          un ambiente cercano y familiar.
        </p>
      </div><!--/.center-->
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#services-->

<section id="services">
  <div class="container">
    <div class="box">
      <div class="center gap">
        <h2><%= t('.menus.servicios') %></h2>
      </div><!--/.center-->
    </div><!--/.box-->

    <div class="box first">
      <div class="row">
        <div class="col-md-4">
          <div class="center">
            <i class="icon-apple icon-md icon-color1"></i>
            <h4>Ortodoncia</h4>
            <p>SISTEMA DAMON, INVISALIGN, ORTOPEDIA Y ORTODONCIA INTERCEPTIVA, REEDUCACIÓN MIOFUNCIONAL, infantil y
              adulta</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-android icon-md icon-color2"></i>
            <h4>ODONTOLOGÍA GENERAL Y CONSERVADORA</h4>
            <p>Reconstrucciones, endodoncia, prevención y profilaxis</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-windows icon-md icon-color3"></i>
            <h4>ODONTOLOGÍA ESTÉTICA</h4>
            <p>Blancamientos, carillas.</p>
          </div>
        </div><!--/.col-md-4-->
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="center">
            <i class="icon-html5 icon-md icon-color4"></i>
            <h4>CIRUGÍA ORAL</h4>
            <p>IMPLANTOLOGÍA, cirugía de dientes incluidos, frenectomía, fenestración</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-css3 icon-md icon-color5"></i>
            <h4>PRÓTESIS</h4>
            <p>sobredentaduras, fija sobre implantes y sobre dientes naturales, incrustaciones, prótesis hibrida,
              completas</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-thumbs-up icon-md icon-color6"></i>
            <h4>ODONTOLOGÍA PREVENTIVA</h4>
            <p>Profilaxis, fluorizaciones, sellados de fisuras</p>
          </div>
        </div><!--/.col-md-4-->
      </div><!--/.row-->

      <div class="row">
        <div class="col-md-4">
          <div class="center">
            <i class="icon-thumbs-up icon-md icon-color6"></i>
            <h4>LOGOPEDIA</h4>
            <p>DISLEXIAS, DISLALIAS, AFASIAS</p>
          </div>
        </div><!--/.col-md-4-->

        <div class="col-md-4">
          <div class="center">
            <i class="icon-thumbs-up icon-md icon-color6"></i>
            <h4>Odontopediatría</h4>
            <p>Pulpotomías, reconstrucciones, mantenedores de espacio</p>
          </div>
        </div><!--/.col-md-4-->
      </div>
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#services-->

<%= partial '/layouts/location.erb' %>
