---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
---

<section id="services">
  <div class="container">
    <div class="box">
      <div class="gap">
        <h2 class="center" style="display:block;">ODONTOPEDIATRÍA</h2>

        <p>
          La odontopediatría es la parte de la odontología que va dirigida a niños y adolescentes.
        </p>

        <p>
          En Centre Dental Francesc Macià creemos que la prevención de los problemas bucales es lo más importante, por ello recomendamos visitas periódicas de revisión.
        </p>

        <img class="img-responsive" src="images/ninos.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />

        <br />

        <h3 class="center">¿Qué tratamientos realizamos?</h3>

        <ul>
          <li>Valoración de alteraciones del desarrollo y del habla.</li>
          <li>Tratamiento de la caries dental.</li>
          <li>Prevención mediante fluorizaciones, sellados de fosas y fisuras.</li>
          <li>Enseñanza de técnicas de higiene oral.</li>
          <li>Tratamiento de los traumatismos dentales.</li>
          <li>Mantenedores de espacio.</li>
        </ul>

        <h3 class="center">¿Cuándo debe un niño visitar al dentista por primera vez?</h3>

        <div class="row">
          <div class="col-md-12">
            <div>
              <p>Los dientes se deben revisar desde que aparecen en boca. Por ello recomendamos una primera visita alrededor del primer cumpleaños.</p>
              <p>Si no existe ninguna alteración recomendamos una visita anual de revisión hasta los 5 años.</p>
              <p>A partir de los 5 años debido a que empieza el recambio dental es recomendable una visita al dentista cada 6 meses.</p>

              <img class="img-responsive" src="images/nino1.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />
            </div>
          </div>
        </div>


        <h3 class="center">¿Porqué debemos tratar los dientes de leche?</h3>

        <div class="row">
          <div class="col-md-12">
            <div>
              <p>Muchos padres se preguntan porqué deben tratarse los dientes de  leche si se van a caer.</p>
              <p>Una buena salud de los dientes de leche contribuye a tener una buena salud bucal en la edad adulta.</p>
              <p>Los dientes de leche contribuyen a mantener el espacio para los dientes definitivos.</p>
              <p>La caries dental es una enfermedad infecciosa que precisa tratamiento.</p>

              <img class="img-responsive" src="images/nino2.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!--/#location-->


<%= partial '/layouts/contact_form.erb' %>
