---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
---

<section id="services">
  <div class="container">
    <div class="box">
      <div class="gap">
        <h2 class="center" style="display:block;">ODONTOLOGÍA</h2>
          <div class="col-md-12">
            <h3 class="center">Odontología general y conservadora.</h3>

            <p>
              Creemos firmemente que la prevención es siempre el mejor tratamiento, por ello recomendamos una revisión anual.
            </p>
            <p>
              Priorizamos la conservación de tus dientes y realizamos tratamientos mínimamente invasivos.
            </p>
            <p>
              El objetivo de la odontología conservadora es la reparación de los dientes dañados por caries, fracturas, traumatismos o erosiones, en todas sus fases. El tratamiento se basa en la eliminación del tejido dañado y la posterior reconstrucción de las piezas dentales.
            </p>

            <h3 class="center"> ¿Qué es la caries?</h3>

            <p>
              La caries es una enfermedad infecciosa producida por unas bacterias que transforman los azúcares en un ácido capaz de destruir el tejido dental. En un principio no presenta síntomas, por ello es básico realizar visitas periódicas de control. Conforme la caries avanza puede afectar al nervio del diente (pulpa dental), entonces es cuando comienzan los síntomas: sensibilidad al frío, al calor, al dulce, dolor…
            </p>
            <p>
              Es entonces cuando debemos realizar una endodoncia.
            </p>

            <img class="img-responsive" src="images/caries.png" style="height: 300px; margin-left: auto; margin-right: auto;" />

            <h3 class="center">¿Qué es una endodoncia?</h3>

            <p>
              La endodoncia es un tratamiento que consiste en extraer la pulpa dental (el nervio del diente), limpiar los conductos por donde pasan y sellarlos con un material especialmente diseñado para ello.
              Debe realizarse cuando el nervio del diente está afectado. Lo más frecuente es que esté afectado por caries, pero también hay otras causas como los traumatismos, las erosiones, las fracturas, otras veces puede ser necesario el tratamiento del nervio por causas protésicas.
            </p>
            <p>
              Tras realizar una endodoncia es normal sentir alguna molestia, que en algunos casos puede requerir el uso de antiinflamatorios.
              Después de realizar la endodoncia el diente debe ser reconstruido, cuando  la lesión del tejido dental en muy grande puede requerirse colocar una reconstrucción con perno o muñón e incluso una corona.
            </p>

            <img class="img-responsive" src="images/endodoncia.png" style="height: 300px; margin-left: auto; margin-right: auto;" />

            <h3 class="center">¿Qué es una reconstrucción?</h3>

            <p>
              Una reconstrucción es la restauración del tejido dental dañado ya sea por caries, fracturas, erosiones o por cualquier otra causa.
              Esa reconstrucción puede realizarse con diversos materiales. En dientes endodonciados a veces puede ser necesario es uso de un poste, perno o muñón para ayudar a la retención de la reconstrucción e incluso en algunos casos puede ser necesaria una funda o corona que evite posibles fracturas si el diente ha quedado muy debilitado.
            </p>

            <img class="img-responsive" src="images/reconstruccion.png" style="height: 300px; margin-left: auto; margin-right: auto;" />

            <h3 class="center">¿Porqué revisiones periódicas?</h3>

            <p>
              Nuestra filosofía es que la prevención es siempre el mejor tratamiento. Por lo tanto creemos las revisiones periódicas son esenciales para mantener una buena salud bucal.
              Si tratamos la caries en su estadio inicial una pequeña restauración será suficiente, pero si la dejamos avanzar esa caries puede llegar al nervio y ser necesario el tratamiento endodóncico con una reconstrucción mucho más costosa.. Y si la dejamos mucho más puede que debamos extraer el diente, con lo que deberemos reponerlo.
              Además es necesario realizar profilaxis o limpiezas bucales de forma periódica ya que la acumulación de sarro o placa bacteriana puede afectar las encías y, por tanto, las estructuras de soporte del diente.
              Como norma general recomendamos una visita de control cada año, pero habrá personas que necesiten un control más estricto en función de su riesgo de caries y de su higiene oral.
            </p>

            <img class="img-responsive" src="images/revisiones.png" style="height: 300px; margin-left: auto; margin-right: auto;" />
        </div>
      </div>
    </div>
  </div>
</section><!--/#location-->


<%= partial '/layouts/contact_form.erb' %>
