---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
---

<section id="services">
  <div class="container">
    <div class="box">
      <div class="gap">
        <h2 class="center" style="display:block;">PRÓTESIS</h2>

        <p>
          Las prótesis dentales son estructuras que reponen dientes ausentes o parte de esos dientes. Se realizan totalmente a medida para cada paciente con el fin de recuperar la función la morfología y la estética.
        </p>

        <p>
          En prótesis es fundamental  la planificación del caso y nuestro equipo te aconsejará, en función de tus necesidades, el tipo de prótesis que más te conviene.
        </p>

        <img class="img-responsive" src="images/abuelos.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />

        <br />

        <h3 class="center">¿Porqué es importante reponer los dientes ausentes?</h3>

        <div class="row">
          <div class="col-md-12">
            <div>
              <p>La pérdida de dientes no sólo provoca grandes problemas estéticos o a la hora de masticar sino que también influye en el resto de los dientes adyacentes.</p>

              <iframe width='100%' height='400' src='https://www.youtube.com/embed/fypm0ouaf7k' frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
        </div>


        <h3 class="center">¿Qué tipo de prótesis existen?</h3>

        <p>
          Hay dos tipos de prótesis:
          <ul>
            <li>
              Prótesis dental removible: son aquellas que el paciente se puede retirar de la boca, Pueden sustituir todos los dientes (dentadura completa) o sólo unos cuantos (prótesis parcial removible) . Para añadir retención y comodidad las dentaduras completas pueden retenerse con implantes.

              <img class="img-responsive" src="images/protesis_movible.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />
            </li>

            <li>
              Prótesis dental fija: Es aquella que el paciente no puede retirar por sí solo de la boca. Funcionan como los propios dientes. Pueden sustituir una parte del diente (Fundas, carillas e incrustaciones) o varios dientes (puente fijo). Además pueden colocarse sobre dientes naturales o sobre implantes.

              <img class="img-responsive" src="images/protesis_fija.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />
            </li>
          </ul>
        </p>

        <br />

        <h3 class="center">¿Qué es una carilla?</h3>

        <p>
          Una carilla es una fina lámina de material colocado sobre la cara visible de los dientes que nos ayuda mejorar la estética de los dientes disimulando manchas, anomalías de forma, tamaño y posición.
        </p>

        <img class="img-responsive" src="images/carilla.jpg" style="height: 300px; margin-left: auto; margin-right: auto;" />

        <h3 class="center">¿Qué es una sobredentadura?</h3>

        <p>

          Una sobredentadura es una prótesis completa  que se ancla normalmente sobre unos ataches colocados sobre implantes. Sus ventajas respecto a las dentaduras de toda la vida son:
          <ul>
            <li>Puede funcionar como una prótesis fija, ya que no se mueve al hablar ni comer.</li>
            <li>Detienen el proceso de pérdida osea que se sufre una vez se han extraído los dientes.</li>
            <li>El paciente las puede retirar de la boca para poder realizar una correcta higiene.</li>
          </ul>
        </p>

        <img class="img-responsive" src="images/sobredentadura.png" style="height: 300px; margin-left: auto; margin-right: auto;" />

      </div>
    </div>
  </div>
</section><!--/#location-->


<%= partial '/layouts/contact_form.erb' %>
