---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
active_about_us: active
---

<section id="about-us">
  <div class="container">
    <div class="box">
      <div class="center">
        <h2>Nuestro equipo</h2>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.
        </p>
      </div>
      <div class="gap"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Dra Cristina Carrasco Ibarra
              <br/>
              <small class="designation">
                Licenciada en Odontología. Num Col COEC: 3962<br/>
                Postgrado de Ortodoncia<br/>
                Master Damon<br/>
                Master Invisalign
              </small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Dra, Lidia Tura
              <br/>
              <small class="designation">Odontología General</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Dra. MªÀngels Sanchez
              <br/>
              <small class="designation">Cirugía Oral e Implantología</small>
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Eva Arrellano
              <br/>
              <small class="designation">Logopeda y psicóloga infantil</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Mònica
              <br/>
              <small class="designation">Higienista</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Cristina Gonzalez Clarás
              <br/>
              <small class="designation">Auxiliar dental</small>
            </h3>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt=""></p>
            <h3>Eva
              <br/>
              <small class="designation">Recepcionista</small>
            </h3>
          </div>
        </div>
      </div>
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#about-us-->

<%= partial '/layouts/location.erb' %>
